.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  max-width: 100%;
  height: 3.75rem;
  background: linear-gradient(90deg, rgba(47, 33, 85, 1) 20%, rgba(131, 63, 194, 1) 100%);
  border-bottom: solid #7050B3 1px; /*ใส่ไว้ดูเส้นขอบก่อน*/
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {       /*กล่องโลโก้*/
  margin: 0 0 0 1.875rem;
  width: 8.75rem;
}

.logo img {
  display: block;
  width: 100%;
}

.menu {     /*โครงแถบเมนูหลัก*/
  display: flex;
  gap: 3.437rem;
}

.menu li {    /*ขนาดแต่ละแถบเมนู*/
  width: 8.75rem;
  height: 3.75rem;
  display: flex;
  position: relative;
}

.menu li:nth-child(1),
.menu li:nth-child(2){   /*Home, Skills*/
  width: 6.875rem;
}

.menu li::after {   /*เส้นใต้เมนู*/
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.375rem;
  background-color: #5F28CD;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navLink {          /*ตัวพื้นฐานแต่ละlink.navLink */
  color: #b9b9b9;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink.active {    /*เมื่ออยู่หน้าที่เลือก*/
  color: #ffffff; 
}

.menu li:has(.active)::after {    /*เมนูถ้ามี .active ด้วย*/
  width: 100%; 
}

.menu li:hover .navLink {       /*เมื่อhover แ่ตละเมนู*/
  color: #ffffff;
}

.menu li:hover::after {         /*เมื่อhover จะขึ้นเส้นใต้*/
  width: 100%;
}

.menu:hover li:has(.active) .navLink {    /*เมื่อ hover แถบเมนู ตัว.active จะเป็นเหมือนเดิม*/
  color: #b9b9b9;
}

.menu:hover li:has(.active)::after {      /*เส้นใต้*/
  width: 0;
}

.menu li:has(.active):hover::after {      /*เมื่อ hover ทับตัว .active อีก*/
  width: 100%;
}

.menu li:has(.active):hover .navLink {
  color: #ffffff;
}

.proflie {
    background-color: transparent;
    position: relative;
    display: flex;
  justify-content: flex-end;
    margin-top : 0.1em;
    background-color: transparent;
    width: 9.375rem;
    height: 2.5rem;
    display: flex;
   
    align-items: center;
    display: flex;
  
   
}
.imgWrapper {
   width: 50px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff99;
}
.img {
  width: 90%;
 height: 90%;
 margin-left: 2px;
  
}
.name {
 
  display: inline;
  margin-left : 1em;
  max-width: 4em;        
  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: ellipsis; 

}
