.popupBar {
    position: fixed;
    bottom: 20px;
    left : 50%;
    transform: translateX(-50%);
    width : 1200px;
    height: 70px;
    background-color: #09000cb0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4px;
}

.resetButton {
    margin-right : 20px;
    width: 100px;
    height: 40px;
    font-size : 16px;
    font-weight: bold;
    background: none;
    color: rgb(243, 9, 9);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.resetButton:hover {
    text-decoration: underline;
}
.saveButton {
    margin-right : 20px;
    width: 250px;
    height: 40px;
    font-size : 16px;
    font-weight: bold;
    background-color: rgb(54, 136, 54);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.saveButton:hover {
    background-color: rgb(54, 136, 54, 0.8);
}
.popupContent {
    display: inline-flex;
    gap: 10px;
}