.helpSection {
    display: flex;
    padding: 8.125rem;
    width: 96.5%;
    height: 34.375rem;
    margin: 2.5rem auto;
    justify-content: center;
}

.text {
    margin: 2.187rem 17% 0 0;
}

.mainText {          /*ข้อความหลัก*/
    width: 21.875rem;
    font-size: 1.875rem;
    margin-bottom: 1.125rem;
}

.subText {           /*ข้อความรอง*/
    width: 31.25rem;
    font-size: 1.125rem;
    margin-bottom: 2.5rem;
}

.btn {
    background-color: #5F28CD;
    padding: 0.937rem 2.5rem;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #4410ab;
}

.paper {
    height: 15.625rem;
}