
.profileBox{
    display : block;
    margin-top: 10px;
    width : 625px;
    height: 360px;
    background-color: #552597;
    border-radius: 16px;
    border: 1px solid #ffffff99;
}
.profileSection{
    display : block;
    font-size : 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top : 20px;
    margin-left : 20px;
}
.profileContent{  /*Input Field Styles*/
    margin-bottom : 2px;
    color : white;
    font-size : 16px;
    padding-left : 20px;
    padding-right : 20px;
    background-color: #3A1C63;
    width: 552px;
    height: 50px;
    border-radius: 10px;
    border : 0px ;
}

.head{
    font-size : 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.Wrapper {
    position: relative; 
    display : flex;
    width: 100%; 
    align-items: center;
}

.editIcon{
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: auto;
}

.divider {
    margin-top : 40px;
    margin-bottom : 20px;
    width: 1281px;
    
    background-color: white;
    height: 1px;
}
.logout {
    margin-top : 20px;
    width: 200px;
    height: 60px;
    font-size : 24px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom : 60px;
}
.logout:active{
    transform: scale(0.9);
}

.logout:hover{
    background-color: rgb(160, 6, 6);
}
.editButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*------------------------Save and Reset Buttons------------------------------*/
.editButton {
    width: 10rem;
    height: 4rem;
    font-size : 20px;
    font-weight: bold;
    background-color: rgb(54, 136, 54);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.editButton:hover {
    background-color: rgb(54, 136, 54, 0.8);
}
.editButton:active {
    scale : 0.98;
}
/*------------------------END Save and Reset Buttons------------------------------*/










/*------------------------Set Layout in Profile Pages------------------------------*/
.mainContainer{
    display : flex;
    flex-direction : column;
    align-items : center;
    gap : 20px;
    margin-top : 20px;
    
}
.profileHeader {
   display: flex;             /* Changed from inline-flex */
    align-items: center;       /* Vertically centers image and button */
    justify-content: center; /* Pushes image to left, button to right */
    width: 100%;
    gap : 570px;
    
    padding: 20px 30px;           /* Adds space on sides instead of margin-left */
    box-sizing: border-box;    /* Ensures padding doesn't break width */
    font-family: 'Poppins', sans-serif;
}
.generalInfo{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 20px;
    
    margin-left : 0px;
}
/*------------------------END Set Layout in Profile Pages------------------------------*/
