.profileBox{
    display : block;
    margin-top: 0.625rem;
    width : 39.0625rem;
    height: 22.5rem;
    background-color: #552597;
    border-radius: 1rem;
    border: 1px solid #ffffff99;
}
.profileSection{
    display : block;
    font-size : 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top : 1.25rem;
    margin-left : 1.25rem;
}
.profileContent{  
    margin-bottom : 0.125rem;
    color : white;
    font-size : 16px;
    padding-left : 1.25rem;
    padding-right : 1.25rem;
    background-color: #3A1C63;
    width: 34.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    border : 0px ;
}

.head{
    font-size : 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.Wrapper {
    position: relative; 
    display : flex;
    width: 100%; 
    align-items: center;
}

.editIcon{
    position: absolute;
    right: 4.375rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 1.5rem;
    height: auto;
}

.divider {
    margin-top : 2.5rem;
    margin-bottom : 1.25rem;
    width: 100%;
    background-color: white;
    height: 1px;
}
.logout {
    margin-top : 1.25rem;
    width: 12.5rem;
    height: 3.75rem;
    font-size : 24px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    margin-bottom : 3.75rem;
}
.logout:active{
    transform: scale(0.9);
}

.logout:hover{
    background-color: rgb(160, 6, 6);
}
.editButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*------------------------Save and Reset Buttons------------------------------*/
.editButton {
    width: 10rem;
    height: 4rem;
    font-size : 20px;
    font-weight: bold;
    background-color: rgb(54, 136, 54);
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}
.editButton:hover {
    background-color: rgb(54, 136, 54, 0.8);
}
.editButton:active {
    scale : 0.98;
}
/*------------------------END Save and Reset Buttons------------------------------*/


/*------------------------Set Layout in Profile Pages------------------------------*/
.mainContainer{
    display : flex;
    flex-direction : column;
    align-items : center;
    gap : 1.25rem;
    margin-top : 1.25rem;
}
.profileHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap : 35.625rem;
    padding: 1.25rem 1.875rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.generalInfo{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 1.25rem;
    margin-left : 0px;
}
/*------------------------END Set Layout in Profile Pages------------------------------*/