body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(90deg, rgba(47, 33, 85, 1) 20%, rgba(131, 63, 194, 1) 100%);
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}