.containner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin: 0 auto 6% auto; 
}

.text {
    margin: 8rem 5%;
    height: 12.5rem;
}

.text h1 {
    width: 25rem;
    margin-bottom: 1.25rem;
}

.text div {
    width: 25rem;
    font-size: 1.12rem;
}

.show {
    margin: 5.5rem 16% 0 0;

}