.resume {
  width: 210mm;
  height: 297mm;

  margin: 0 auto;
  background: #f4f4f4;
  position: relative;

  display: flex;

  padding: 5mm;
  box-sizing: border-box;

  overflow: hidden;
}

.leftPanel {
  width: 60%;
  position: relative;
}

.leftPanel::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 1rem;
  width: 82%;
  height: 94%;
  background: #2f394f;
  border-radius: 17.5px;
  z-index: 0;
}

.profileWrapper {
  position: relative;
  z-index: 2;
  margin-top: 5rem;
  margin-left: 6rem;
}

.profileCircle img {
  width: 10rem;
  height: 10rem;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
}

.head {
  width: 47.5px;
  height: 47.5px;
  background: #f4f4f4;
  border-radius: 50%;

  top: 22.5px;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  width: 85px;
  height: 45px;
  background: #f4f4f4;
  border-radius: 45px 45px 0 0;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.aboutCard {
  position: relative;
  z-index: 2;
  width: 17.5rem;
  background: #c9cad8;
  border-radius: 4px;
  padding: 19px;
  margin-top: 47.5px;
  margin-left: -27.5px;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 0 0 1.25rem 1.75rem;
}

.sectionTitle h2 {
  margin: 0;
  font-size: 22.5px;
  color: #111;
}

.aboutCard p {
  margin: 0 0 0 1.75rem;
  font-size: 16px;
  line-height: 1.6;
  color: #111;
  text-align: justify;
}

/* CONTACT */

.contactSection {
  position: relative;
  z-index: 2;
  margin-top: 1.25rem;
  margin-left: 0.95rem;
  color: white;
}

.contactHeader {
  width: 15rem;
  height: 3.5rem;
  background: #d2d3df;
  color: #111;
  padding: 0.75rem 0.75rem;
  margin: 2.5rem 0 1.25rem 0;
}

.contactHeader h3 {
  margin: 0;
  font-size: 22.5px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 9px;
  margin: 0 0 1.25rem 0.75rem;
}

.contactItem span {
  font-size: 16px;
}

.iconCircle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #d2d3df;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f394f;
}

.contactItem img {
  width: 2.5rem;
  height: 2.5rem;
}

/* RIGHT PANEL */

.rightPanel {
  width: 58%;
  padding: 7.5rem 0 0 1.25rem;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

/* HEADER */

.header {
  min-width: 25rem;
  height: 7.5rem;
  background: #c9cad8;
  border-radius: 50px;
  padding: 17.5px 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -16rem;
  z-index: 10;
  position: absolute;
}

.header h3 {
  margin: 0;
  font-size: 27px;
  font-weight: 800;
  color: #111827;
  letter-spacing: 0.5px;
}

/* SECTION */

.section {
  margin-top: 35px;
}

.headingRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 17.5px;
}

.smallCircle {
  width: 9px;
  height: 9px;
  border: 2px solid #2f394f;
  border-radius: 50%;
}

.headingRow h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
  color: #1f2a44;
}

/* TIMELINE */

.timeline {
  border-left: 1px solid #aeb0b9;
  margin-left: 4px;
  padding-left: 14px;
}

.timelineItem {
  margin-bottom: 21px;
}

.timelineItem h4 {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: 800;
  color: #1d2436;
}

.timelineItem h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #1d2436;
  margin-bottom: 1.25rem;
}

.timelineItem span {
  font-size: 9px;
}

/* EXPERIENCE */

.experience {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.jobDescription {
  padding-left: 14px;
  margin-left: 2.5px;
}

.jobDescription p {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
  color: #222;
}

/* SKILLS */

.skills {
  border-left: 1px solid #aeb0b9;
  padding-left: 14px;
  margin-left: 4px;
}

.skills ul {
  margin: 0;
  padding-left: 14px;
}

.skills li {
  font-size: 9px;
  margin-bottom: 7px;
  color: #1c2235;
}

.skillItem {
  font-size: 16px;
  color: #1c2235;
}

/* BOTTOM SHAPE */

.bottomShape {
  position: absolute;
  bottom: -25px;
  left: -40px;
  width: 120%;
  height: 90px;
  background: #2f394f;
  transform: rotate(-6deg);
}

.bottomShape::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -10px;
  width: 120%;
  height: 25px;
  background: #d8d8d8;
}

@page {
  size: A4;
  margin: 0;
}

body {
  margin: 0;
}