.bg {
    color: #194785;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('/resumes/resume_bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.leftSideContainer {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-left: 2.25rem;
    width: 360px;
}

.profile {
    background-color: #194785;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 30px;
}

.profileImg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    margin-left: 1.55rem;
}

.contact h2, .education h2, .skill h2,
.aboutme h2, .exp h2 {
    margin-bottom: 0.75rem;
    font-size: 28px;
}

.contact div {
    display: flex;
    font-size: 12.5px;
    font-weight: 500;
    align-items: center;
}

.contact svg {
    color: white;
    background-color: #194785;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 4px;
    overflow: visible;
    margin-right: 0.4rem;
}
.phone, .email {
    padding-bottom: 5px;
}

.address p {
    line-height: 1.2;
}

.lHorizonLine {
    background-color: #194785;
    width: 90%;
    height: 0.15rem;
    border-radius: 10px;
    margin-top: 1.75rem;
    margin-left: 1.55rem;
}

.education, .skill {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 1.55rem;
}

.university {
    font-size: 16px;
}

.major, .level {
    font-size: 12px;
}

.skill ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.verticalLine {
    width: 4px;
    height: 90%;
    background-color: #194785;
    border-radius: 10px;
    margin: auto 1.5rem;
}

.rightSideContainer {
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;
    width: 350px;
}

.name {
    font-size: 32px;
    line-height: 1.2;
}

.rHorizonLine {
    background-color: #194785;
    width: 90%;
    height: 0.15rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.aboutme, .exp{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.aboutme p {
    font-size: 14px;
}

.title {
    font-size: 18px;
}

.date, .description {
    font-size: 14px;
}

.description {
    margin-bottom: 1rem;
}