.leftBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    width: 45%;
    height: 100%;
    img{
        width: 80%;
        height: 60%;
    }
    h3{
        font-size: xx-large;
        font-weight: bold;
    }
    h6{
        font-size: large;
        font-weight: 100;
        color: rgb(152, 150, 150);
    }
}